:root {
  --orange: #f68e46;
  --lite-purple: #7243f55f;
  --purple: #7343f5;
  --white: #fff;
  --nav-bg: #111111a2;
  --dark: #111;
  --bg-dark: #0e0a2f;
}

body {
  background-color: rgb(185, 204, 222);
}

.form-box {
  background-color: #f1f1f1;
}

.btn {
  font-weight: 500;
  background-color: var(--purple);
  transition: all ease-in-out 0.2s;
  color: white;
}

.btn:hover {
  background-color: #5733ba;
  color: #ebebeb;
}
